doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")
    link(rel="icon" href="images/favicon.ico")

    block title
        
    link(href="css/bootstrap.min.css" rel="stylesheet")    
    link(href="css/jumbotron-narrow.css" rel="stylesheet")

  body

    div.container

      div.header        
        block subtitle        
      div
     
      block content

    div.footer
    p &copy; Company 2014 
    
    script(src="js/jquery-2.1.1.min.js")    
    
