!DOCTYPE html
html lang="es"
  head
    meta (charset="utf-8")
    meta (http-equiv="X-UA-Compatible" content="IE=edge")
    meta (name="viewport" content="width=device-width, initial-scale=1")
    meta (name="description" content="")
    meta (name="author" content="")
    link (rel="icon" href="images/favicon.ico")

    title User APP
    
    link (href="css/bootstrap.min.css" rel="stylesheet")    
    link (href="ccs/jumbotron-narrow.css" rel="stylesheet")

  body

    div.container
      div.header
        ul.nav.nav-pills.pull-right
          li.active
            a (href="#") Homea
          li
            a (href="#") Abouta
          li
            a (href="#") Contacta
        ul
        h3.text-muted Project name
      div

      block content

     
    
    script (src="js/bootstrap.min.js")
